.App {
  text-align: center;
  background-color:#919dad;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.main-page-content-wrapper {
  position:relative;
  top: -4em;
}

/* START TITLECARD STYLINGS */

.title-card {
  width:100%;
  height:auto;
}

.title-card img {
  width:100%;
  height:auto;
}

.title-card .title-container {
  position: absolute;
  top: 8em;
  left: 8%;
  animation: slideInHeaders ease 2s;;
}

.title-card .title-name {
  font-family:Verdana, Helvetica;
  font-weight:bold; 
  font-size:5em;
  margin-bottom:0;
  margin-top:0;
  color:#282d3c;
  text-align:left;
  text-shadow:3px 3px #5d69789e;
  animation: fadeInHeaders ease 2s;
}

.title-card .subtitle {
  margin-top:0;
  color:#282d3c;
  text-align:left;
  font-size:1.9em;
  text-shadow:2px 2px #5d6978b5;
  animation: fadeInHeaders ease 2s;
}

@keyframes fadeInHeaders {
  0% {opacity:0}
  15% {opacity:0}
  100% {opacity:1}
}

@keyframes slideInHeaders {
  0% {top:3em}
  15% {top:3em}
  100% {top:8em}
}

/* END TITLECARD STYLINGS */

/* START GENERAL CARD STYLINGS */

.card-container {
  width:100%;
  display:flex;
  justify-content: center;
  margin-bottom:1em;
  position:relative
}

.card-container .card-sizer-centerer {
  width:94%;
  display:flex;
  flex-direction: column;
}

.card-container .card {
  width:100%;
  height:100%;
  background-color:#f2f2f5;
  border-left: 7px solid #71737d;
}

  /* BELOW TWO HANDLE SIZING AND POSITIONING OF LABELS FOR CARDS. NOT CLEAN, NEED BETTER IMPLEMENTATION */
  .card-container .card-label {
    padding:0.4em;
    background-color: #303556;
    color: white;
    text-align: center;
    width:150px;
  }

  .card-container .card-label h3 {
    margin-top:0;
    margin-bottom:0;
    margin-left:0.3em;
    font-size:22px;
  }
  /* END */

/* END GENERAL CARD STYLINGS */