.business-card-content-wrapper {
    display:flex;
    height:30em;
}

.business-card-content-wrapper .block {
    flex-grow: 1;
    flex-basis:0;
    border-right: 1px solid black;
}

/* START PROFILE PIC STYLING */

.business-card-content-wrapper #profile-pic {
    padding:1em;
    min-width:27em;
    max-width:27em;
}

.business-card-content-wrapper #profile-pic img {
    max-height:100%;
    max-width: 100%;
    object-fit: scale-down;
    border-bottom: 7px solid #71737d7a;
    border-left: 2px solid #71737d7a;
}

/* END PROFILE PIC STYLING */

/* START CONTACT STYLING */

.business-card-content-wrapper #contact-information {
    text-align: left;
    padding: 0 1em 0 1em;
    min-width: 25em;
    max-width:25em;
}

.business-card-content-wrapper #contact-information h2 {
    margin: 1em 0 0.5em 0;
    font-family: Verdana,Helvetica; 
}

.business-card-content-wrapper #contact-information h2 span {
    font-weight:100;
}

.business-card-content-wrapper #contact-information .contact-list {
    font-size: 1.4em;
    margin-top: 1em;
}

.business-card-content-wrapper #contact-information .contact-list .item {
    margin-top: 0.5em
}

.business-card-content-wrapper #contact-information .links {
    display:flex;
    width:100%;
    padding:1.4em 0.3em 0 0.3em
}

/* .business-card-content-wrapper #contact-information .links button {
    margin:auto;
} */

/* END CONTACT STYLING */