.business-card-content-wrapper {
    display:flex;
    flex-direction: column;
    height:62em;
    overflow: hidden;
}

.business-card-content-wrapper .business-card-sub-section {
    display:flex;
    border-bottom: 3px solid #80808080;
    height:55%;
}

.business-card-content-wrapper .business-card-sub-section:first-child {
    height:45%;
}

.business-card-content-wrapper .block {
    flex-grow: 1;
    flex-basis:0;
    border-right: 1px solid black;
}

/* START PROFILE PIC STYLING */

.business-card-content-wrapper #profile-pic {
    padding:1em;
    min-width:25em;
    max-width:25em;
}

.business-card-content-wrapper #profile-pic img {
    max-height:100%;
    max-width: 100%;
    object-fit: scale-down;
    border-bottom: 7px solid #71737d7a;
    border-left: 2px solid #71737d7a;
}

/* END PROFILE PIC STYLING */

/* START CONTACT STYLING */

.business-card-content-wrapper #contact-information {
    text-align: left;
    padding: 0 1em 0 1em;
    min-width: 25em;
    max-width:25em;
}

.business-card-content-wrapper #contact-information h2 {
    margin: 1em 0 0.5em 0;
    font-family: Verdana,Helvetica; 
}

.business-card-content-wrapper #contact-information h2 span {
    font-weight:100;
}

.business-card-content-wrapper #contact-information .contact-list {
    font-size: 1.3em;
    margin-top: 1em;
}

.business-card-content-wrapper #contact-information .contact-list .item {
    margin-top: 1.3em
}

.business-card-content-wrapper #contact-information .links {
    display:flex;
    width:100%;
    padding:1.5em 0.3em 0 0.3em
}

/* END CONTACT STYLING */

/* START SKILLS STYLING */

.business-card-content-wrapper #skills {
    text-align: left;
    padding: 0 1em 0 1em;
    min-width: 25em;
    position:relative;
    display:flex;
    flex-direction: column;
}

.business-card-content-wrapper #skills h2 {
    margin: 1em 0 0.5em 0;
    font-family: Verdana,Helvetica; 
}

.business-card-content-wrapper #skills h2 span {
    font-weight:100;
}

.business-card-content-wrapper #skills .skills-list {
    font-size: 1.4em;
    display: flex;
    margin-top: 1em;
    margin-bottom:1em;
    flex-grow:1;
    overflow-y: hidden;
}

.business-card-content-wrapper #skills .skills-list .skills-sub-block:first-child {
    margin-right:2%;
}

.business-card-content-wrapper #skills .skills-list .skills-sub-block {
    width:49%;
    padding-right:1%;
    border-right:1px solid grey;
    overflow-y:scroll;
}



.business-card-content-wrapper #skills .skills-list .skills-sub-block h2 {
    margin-top: 0;
}

.business-card-content-wrapper #skills .skills-list .skills-sub-block h3 {
    margin-top:0.5em;
    margin-bottom:0.3em;
    /* font-size: 0.8em; */
}

.business-card-content-wrapper #skills .skills-list .skills-sub-block .accordion.ui .title {
    padding-bottom:0;
    padding-top:0.5em;
    font-size:0.8em;
    font-weight: bold;
    color:#000000b8;
}

.business-card-content-wrapper #skills .skills-list .skills-sub-block .accordion.ui .active.content {
    border-bottom: 1px solid #80808024;
}

.business-card-content-wrapper #skills .skills-list .skills-sub-block .dropdown-entry {
    font-size:0.8em;
    margin-left:1.75em;
    margin-bottom: 0.2em;
}

/* END SKILLS STYLING */
/* START ABOUT ME STYLING */

.business-card-content-wrapper #about-me {
    text-align: left;
    padding: 0 1em 0 1em;
    min-width: 25em;
    position:relative;
    overflow-y: hidden;
}

.business-card-content-wrapper #about-me h2 {
    margin: 1em 0 0.5em 0;
    font-family: Verdana,Helvetica; 
}

.business-card-content-wrapper #about-me p {
    font-family: Verdana,Helvetica;
    font-size:1.2em;
}

/* END ABOUT ME STYLING */